@page "{format?}"
@model IndexModel
@{
	ViewBag.Title = "مدیریت دسته بندی فیلم ها";
	ViewBag.CssTitle = "info";
	LinkViewModel linkViewModel = new()
	{
		Caption = "ایجاد دسته بندی جدید",
		PageName = "Add"
	};
}
<table class="table table-striped table-bordered table-responsive">
	<thead>
		<tr>
			<th>ردیف</th>
			<th>عنوان</th>
			<th>عملیات</th>
		</tr>
	</thead>
	<tbody>
		@if (Model.EntityViewModelList is not null &&
					  Model.EntityViewModelList.Any())
		{
			foreach (var category in Model.EntityViewModelList.Select(
				(item, index) => new { item, index }))
			{
				<tr>
					<td>@(category.index + 1)</td>
					<td>@category.item.Title</td>
					<td>
						<a class="btn btn-success btn-sm" asp-route-id="@category.item.Id" asp-page="Edit">ویرایش</a>
						<a class="btn btn-danger btn-sm" asp-route-id="@category.item.Id" asp-page="Delete">حذف</a>
					</td>
				</tr>
			}
		}
		else
		{
			<tr>
				<td colspan="3">
					<p class="alert alert-warning text-center">دسته بندی یافت نشد</p>
				</td>
			</tr>
		}
	</tbody>
</table>
<partial name="LinkView" model="@linkViewModel" />